@{
    ViewBag.Title = "Home Page";
}

<link href="~/Style/IndexStyleSheet.css" rel="stylesheet" />

<div>
    <img src="~/Img/image_01.jpg" style="margin: 0 auto; width:100%" />
    <h1 class="head-text">Web Application To Manage Student's Information</h1>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h2>About this Appliction</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at mattis nisl. In egestas, augue at pellentesque faucibus, massa est ullamcorper lorem, in faucibus purus odio at metus. Sed nec ex eu augue egestas sodales sed a turpis. Ut in bibendum ipsum. Phasellus tincidunt est ac arcu semper varius non non nisi. In ac odio vel lorem dignissim ultricies. Curabitur hendrerit consequat hendrerit. Sed suscipit turpis a libero rutrum luctus. Aliquam erat volutpat.
            Nunc sed est scelerisque erat egestas condimentum. Ut a metus justo. Duis quis semper risus, vel gravida nisl. Ut luctus orci eget consectetur venenatis. Phasellus eget quam vel velit molestie lacinia vel nec dolor. Vestibulum commodo, est vitae venenatis facilisis, leo dui sodales dui, sit amet convallis purus lacus lobortis tellus. Nam volutpat bibendum ullamcorper. Donec sagittis suscipit ligula at dictum. Phasellus venenatis non augue sit amet imperdiet.
            Pellentesque non nibh nec urna tristique elementum. Suspendisse consectetur egestas orci, non imperdiet nunc pellentesque quis. Quisque vulputate, turpis eget rutrum bibendum, orci lectus mollis enim, ac tincidunt sem est quis ante. Nulla condimentum luctus lacus, vitae condimentum risus pulvinar nec. Curabitur egestas accumsan hendrerit. Sed accumsan enim lectus, et semper odio eleifend ut. Phasellus commodo quam laoreet volutpat ultrices. Sed id mi vitae ante facilisis mattis. Donec quis finibus metus, sit amet interdum velit. Nulla viverra faucibus ipsum ac elementum. Fusce feugiat felis id neque imperdiet, quis molestie magna euismod. Nam placerat tempor libero sit amet ultrices. Vestibulum id vulputate nulla.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div> 
</div>
